<!-- (*) assigned classes -->

<ion-view view-title="Eventos">
	<ion-content class="events">
		<div class="list card" ng-repeat="event in vm.events">
			<div class="head">
				<h2>{{event.title}}</h2>
				<div class="date">			
				<span class="month">{{(event.date | date:'MMM') | capitalize}}</span><br>
				<span class="day">{{event.date | date:'d'}}</span>
				</div>
			</div>
			<div class="body item-body">
				<p class="">
					<i class="icon ion-ios-calendar-outline"></i>
					{{(event.date | date:"EEEE dd 'de' MMMM") | capitalize}}.
				</p>
				<p class="">
					<i class="icon ion-ios-clock-outline"></i>
					{{event.date | date:'hh:MM a'}}
				</p>
				<p class="">
					<i class="icon ion-ios-location"></i>
					{{event.location}}
				</p>
			</div>
			<div class="item-image">
				<img src="img/feed/9.jpg">
			</div>
			<!-- *class red-bg / background color tabs -->
			<div class="item tabs tabs-secondary tabs-icon-left red-bg">
			    <a class="tab-item">
			    	<i class="icon ion-checkmark"></i>
			    	Asistire
			    </a>
			    <a class="tab-item">
			    	<i class="icon ion-thumbsup"></i>
			    	Me gusta
			    </a>
			    <a class="tab-item">
			    	<i class="icon ion-ios-book"></i>
			    	Leer mas
			    </a>
		  	</div>
		</div>
	</ion-content>
</ion-view>
