<!-- (*) assigned classes -->

<ion-view view-title="Eventos">
	<ion-content>
		<div class="new" ng-click="vm.openNew(new)">
			<img src="img/feed/1.JPG">
			<p class="social-img-up">
			    	<a>
			    		<i class="icon ion-thumbsup"></i>
			      		10
			    	</a>
					<a>
			    		<i class="icon ion-ios-chatbubble"></i>
			      		10
			    	</a>
			    </p>
				<div class="date">			
					<span class="month">May</span><br>
					<span class="day">9</span>
				</div>
			<div class="description">
				<h3>Realizan Examen nuevo ingreso</h3>
				<span>Publicado por Difusion </span>
			</div>
		</div>
		<div class="new">
			<img src="img/feed/2.JPG">
			<p class="social-img-up">
			    	<a>
			    		<i class="icon ion-thumbsup"></i>
			      		10
			    	</a>
					<a>
			    		<i class="icon ion-ios-chatbubble"></i>
			      		10
			    	</a>
			    </p>
				<div class="date">			
					<span class="month">May</span><br>
					<span class="day">10</span>
				</div>
			<div class="description">
				<h3>Realizan Examen nuevo ingreso</h3>
				<span>Publicado por Difusion </span>
			</div>
		</div>
		<div class="new">
			<img src="img/feed/3.JPG">
			<p class="social-img-up">
			    	<a>
			    		<i class="icon ion-thumbsup"></i>
			      		10
			    	</a>
					<a>
			    		<i class="icon ion-ios-chatbubble"></i>
			      		10
			    	</a>
			    </p>
				<div class="date">			
					<span class="month">May</span><br>
					<span class="day">10</span>
				</div>
			<div class="description">
				<h3>Realizan Examen nuevo ingreso</h3>
				<span>Publicado por Difusion </span>
			</div>
		</div>
	</ion-content>
</ion-view>
