<!-- (*) classes assigned or controller -->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-ios-drag" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content>
        <!-- *controller MenuActiveCtrl /  active items menu -->
        <ion-side-menu side="left" expose-aside-when="large" ng-controller="MenuActiveCtrl as vm">
        <!-- button in header-bar -->
        <ion-content>
            <ul class="list">
                <!-- item-avatar user with status <--></-->
                <a class="item item-avatar" nav-clear>
                    <img ng-src="{{vm.currentUser.profilePicture}}">
                    <h2>{{vm.currentUser.username}}</h2>
                    <!--<p>I'm time study</p>-->
                </a>
                <!-- menu items  with style active, inactive on off -->
                <a class="item item-icon-left" ng-class="{active:isActive('/app/news')}" nav-clear menu-close href="#/app/news">
                    <i class="icon ion-android-list"></i>Noticias
                </a>
                <a class="item item-icon-left" ng-class="{active:isActive('/app/events')}" nav-clear menu-close href="#/app/events">
                    <i class="icon ion-android-calendar"></i>Eventos
                </a>
                <a class="item item-icon-left" ng-class="{active:isActive('/app/notice')}" nav-clear menu-close href="#/app/notice">
                    <i class="icon ion-android-notifications"></i>Avisos
                </a>
                <!--<a class="item item-icon-left" ng-class="{active:isActive('/app/profile')}" nav-clear menu-close href="#/app/profile">
                    <i class="icon ion-ios-person-outline"></i>Perfil
                </a>-->
                <!-- *class quit / style logout -->
                <a class="item item-icon-left quit" nav-clear menu-close ng-click="vm.signOut()">
                    <i class="icon ion-ios-arrow-thin-right"></i>Cerrar sesion
                </a>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
