<!-- (*) assigned classes -->

<ion-view view-title="" class="animated fadeIn">
	<ion-content class="new-details">
		<i class="back ion-ios-arrow-back" ng-click="closeLogin()"></i>
		<div class="cover">
			<img class="cover-image" ng-src="{{vm.currentNew.coverImage}}">

			<div class="date">			
				<span class="month">{{vm.currentNew.createdDate | date:'EEE'}}</span><br>
				<span class="day">{{vm.currentNew.createdDate | date:'d'}}</span>
			</div>

		</div>
		
		<div class="title">
			<h3>{{vm.currentNew.title}}</h3>
			<div class="tag" ng-if="vm.currentNew.tags">
				<span class="general">General</span>
			</div>
			<span>Publicado por  {{vm.currentNew.by}}</span>
		</div>
		<div class="content">
			<pre class="pre">{{content.content}}</pre>
		</div>
		<div class="footer">
			<p class="social-img-up" ng-if="vm.currentNew.likes">
			    	<a>
			    		<i class="icon ion-thumbsup"></i>
			      		{{vm.currentNew.likes.length}}
			    	</a>
			    </p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left red-bg">
			<a class="tab-item {{vm.currentNew.likes && vm.currentNew.likes.indexOf(vm.currentSession.uid) == -1 ? 'b-blue' : ''}}" ng-click="vm.like()">
				<i class="icon ion-thumbsup"></i>
				{{vm.currentNew.likes && vm.currentNew.likes.indexOf(vm.currentSession.uid) == -1 ? 'Me gusta' : 'Ya no me gusta'}}
			</a>
			<a class="tab-item">
				<i class="icon ion-ios-chatbubble-outline"></i>
				Comentar
			</a>
		</div>

	</ion-content>
</ion-view>
