<!-- (*) assigned classes -->

<ion-view view-title="" class="animated fadeIn">
	<ion-content class="new-details">
		<i class="back ion-ios-arrow-back" ng-click="closeNew()"></i>
		<div class="cover">
			<img class="cover-image" ng-src="{{vm.currentNew.coverImage}}">

			<div class="date">			
				<span class="month">{{vm.currentNew.createdDate | date:'EEE'}}</span><br>
				<span class="day">{{vm.currentNew.createdDate | date:'d'}}</span>
			</div>

		</div>
		
		<div class="title">
			<h3>{{vm.currentNew.title}}</h3>
			<div class="tag" ng-if="vm.currentNew.tags">
				<span class="general">General</span>
			</div>
			<span>Publicado por  {{vm.currentNew.by}}</span>
		</div>
		<div class="content">
			<pre class="pre">{{content.$value}}</pre>
		</div>
		<div class="footer">
			<p class="social-img-up" ng-if="vm.currentNew.likes">
			    	<a>
			    		<i class="icon ion-thumbsup"></i>
			      		{{vm.currentNew.likes.length}}
			    	</a>
			    </p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left red-bg">
			<a class="tab-item" ng-click="vm.like()">
				<i class="icon ion-thumbsup"></i>
				{{vm.currentNew.iLiked? 'Ya no me gusta' : 'Me gusta'}}
			</a>
			<a class="tab-item" ng-click="vm.openComments()">
				<i class="icon ion-ios-chatbubble-outline"></i>
				Comentar
			</a>
		</div>

	</ion-content>
</ion-view>
