<!-- (*) assigned classes -->

<ion-view view-title="Noticias">
	<ion-content>
		<div class="new" ng-click="vm.openNew(new)" ng-repeat="new in vm.news">
			<img ng-src="{{new.coverImage}}">
			<p class="social-img-up" ng-if="new.likes">
			    	<a>
			    		<i class="icon ion-thumbsup"></i>
			      		{{new.likes.length}}
			    	</a>
			    </p>
				<div class="date">			
					<span class="month">{{new.createdDate | date:'EEE'}}</span><br>
					<span class="day">{{new.createdDate | date:'d'}}</span>
				</div>
			<div class="description">
				<h3>{{new.title}}</h3>
				<span>Publicado por {{new.by}} </span>
			</div>
		</div>
	</ion-content>
</ion-view>
