<!-- (*) assigned classes -->

<ion-view view-title="Eventos">
	<ion-content>
		<div class="list card">
			<div class="item item-avatar item-icon-right">
				<img src="img/ith_logo.jpg">
				<h2>Departamento de Difusion</h2>
				<p class="icon-p">
					<i class="icon ion-ios-clock-outline"></i>
					2 days ago
				</p>
			</div>
			<div class="item item-body">
				<p>Se les informa a los estudiantes la suspension de clases el dia de hoy</p>
			</div>
			<!-- *class red-bg / background color tabs -->
			<div class="item tabs tabs-secondary tabs-icon-left red-bg">
			    <a class="tab-item">
			    	<i class="icon ion-thumbsup"></i>
			    	Like
			    </a>
			    <a class="tab-item">
			    	<i class="icon ion-ios-chatbubble-outline"></i>
			    	Comment
			    </a>
		  	</div>
		</div>
	</ion-content>
</ion-view>
